<div>
    <h3>All of the events should show below</h3>
    <h3>+ Safety operators</h3>
    <h5>NG4</h5>
    <table>
      <thead>
        <tr>
          <th>Event</th>
          <th>Date</th>
          <th>Time</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of eventsNg4">
          <td>{{event.name}}</td>
          <td>{{event.date}} </td>
          <td>{{event.time}}</td>
          <td>{{event.location.address}},
             {{event.location.city}},
             {{event.location.country}}
            </td>
            <!-- <td>{{event.location?.address}},
              {{event.location?.city}},
              {{event.location?.country}}
             </td> -->
        </tr>
      </tbody>
    </table>
    <button routerLink="/">Back to One</button>
  </div>
