<div class="outer">
    <div class="inner">
      Event:
    </div>
    <div>
      Date:
    </div>
    <div>
      Time:
    </div>
    <div>
      Address:
    </div>
  </div>

  <div class="outer values">
    <div class="inner">
      {{eventStyle.name}}
    </div>
    <div>
      {{eventStyle.date}}
    </div>
    <div>
      {{eventStyle.time}}
    </div>
    <div>
      {{eventStyle.location.address}}, {{eventStyle.location.city}}, {{eventStyle.location.country}}
    </div>
  </div>
  <br>
  <br>
  <div>
    <button routerLink="/">Back to One</button>
  </div>
