<p>first-component works!</p>
<div>
    <h1>Main Angular Demo!</h1>
    <h4>You got your component to display!</h4>
    <hr>
    <h5>How does your event look below?</h5>
    <div style="margin-top:30px">
      Event: {{event.name}}
    </div>
    <div>
      Date: {{event.date}}
    </div>
    <div>
      Time: {{event.time}}
    </div>
    <div>
      Address: {{event.location.address}}, {{event.location.city}}, {{event.location.country}}
      </div>
      <br>
      <button (click)="goToTwo()">Go to Second Component @Input</button><br>
      <button (click)="goToThree()">Go to Third Component @Output</button><br>
      <button (click)="goToFour()">Go to Fourth Component Local Variables</button><br>
      <button (click)="goToFive()">Go to Fifth Component Event Styles</button><br>
      <button (click)="goToSix()">Go to Sixth Component ng4</button><br>
      <button (click)="goToSeventh()">Go to Seventh Component Swapi</button><br>
      <button (click)="goToEight()">Go to Eight Component Postman</button><br>
      <button (click)="goToNinth()">Go to Ninth Component ngIf</button><br>
      <button (click)="goToTenth()">Go to Tenth Component ngSwitch</button><br>
      <button (click)="goToEleventh()">Go to Eleventh Component ng-class style</button><br>
      <button (click)="goToEleventhNgStyle()">Go to Eleventh NgStyle Component ngStyle</button><br>
      <button (click)="goToTwelfth()">Go to Twelfth Component Simple Service</button><br>
      <button (click)="goToThirtheen()">Go to Thirtheen Component Route With Params</button><br>
    </div>

  <!-- <button routerLink="/">Back to One</button> -->
